@model Category

<div class="d-flex justify-content-end">
    <form asp-route-id="@Model.CategoryId" method="post"
          asp-action="DeleteOneCategory">
        
        <button class="btn btn-danger" type="submit">Delete</button>
        <a asp-action="Index" class="btn btn-outline-primary">Category List</a>
    </form>
</div>

<form 
    method="post"
    asp-action="UpdateOneCategory"
    asp-controller="Category"
>
    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" asp-for="CategoryId" />  
    <div class="form-group my-3">
    
        <input type="text"
                asp-for="CategoryName"
                placeholder="Category Name"
                class="form-control" />
   </div> 

   <button class="btn btn-primary" type="submit">
       Update Category
   </button>
</form>