@model List<Product>

   
    @foreach(var product in @Model)
    {
         <div class="text-center">
             @product.ProductName
             <p>
                 <b>Price : </b> @product.Price
             </p>
             <hr />
            
         </div>
    }
    <div class="text-center">
         <a 
    class="btn btn-success"
    asp-controller="Home" 
    asp-action="Index"> 
        Home  
    </a>
    </div>
