@model Product

<div class="text-center">
    <h1>@Model.ProductName</h1>
    <p>@Model.Price</p>
   

    <a 
    class="btn btn-success"
    asp-controller="Home" 
    asp-action="Index"> 
        Home  
    </a>
</div>