@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject UserManager<ApplicationUser> UserManager

<h1>User Roles</h1>

<ul class="list-group">
    @foreach(IdentityRole role in ViewBag.RoleList)
    {
        <li class="list-group-item">@role.Name -
            @await UserManager.IsInRoleAsync(Model,role.Name)
        </li>
    }
</ul>