@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
           asp-controller="Authentication"
           asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark"
           asp-controller="Authentication"
           asp-action="Login">Login</a>
        </li>
    }
    else
    {
         <li class="nav-item">
            <a class="nav-link text-dark"
           asp-controller=""
           asp-action=""> Hello @User.Identity?.Name </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark"
           asp-controller="Authentication"
           asp-action="Logout"> Logout </a>
        </li>
    }



</ul>
