@model Product

<form 
    method="post"
    asp-controller="Product"
    asp-action="CreateOneProductWithView" > 

    <div class="form-group">
        <label for="ProductName">Product Name</label>
        <input type="text" id="ProductName" asp-for="ProductName" class="form-control"  aria-describedby="ProductHelp" placeholder="Product Name">
        <small id="ProductHelp" class="form-text text-muted">Product Name is a required field.</small>
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" id="Price" asp-for="Price" class="form-control" aria-describedby="PriceHelp" placeholder="Price">
        <small id="PriceHelp" class="form-text text-muted">Product Name is a required field.</small>
    </div>

     <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" id="Description" asp-for="Description" class="form-control" placeholder="Description">
    </div>

    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input type="text" id="ImageUrl" asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
    </div>

    <button class="btn btn-primary" 
            type="submit"> Create Product </button>
</form>