@model IEnumerable<Category>

<style>
    a {
        text-decoration: none
    }
</style>

<ul class="list-group">
    @foreach (Category cat in @Model)
    {
        <li class="list-group-item">
            <a asp-action="GetAllProductsByCategoryId"
           asp-route-id="@cat.CategoryId">
                @cat.CategoryName
            </a>
        </li>
    }
</ul>