@model List<Product>

    <div class="text-center">
        <h3 class="display-5">Products</h3>
    </div>
    <div class="my-3 d-flex justify-content-center" >
        <a asp-area="Admin"
        asp-controller="Product"
        asp-action="CreateOneProduct"
        class="btn btn-success"
        >Create One Product</a>
    </div>

    

    <ul class="list-group">
        @foreach(Product prd in Model)
        {
            <li class="list-group-item d-flex justify-content-between">@prd.ProductName 
                
                     @prd?.Category?.CategoryName
               
               
                <a class="btn btn-warning"
                   asp-area="Admin"
                   asp-controller="Product"
                   asp-action="UpdateOneProduct"
                   asp-route-id="@prd.Id">
                   Update
               </a>

            </li>
        }
    </ul>